---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const services = await getCollection('services');
---

<Layout title="Servicios y proyectos">
    <section class="w-full mx-auto lg:w-[1180px] py-30">
        <nav class="p-5 max-w-100">
            <h5 class="text-3xl font-bold text-white bg-[#304D6D] p-4 rounded-t-lg">Servicios</h5>
            <ul class="py-2 text-sm text-gray-700">
                {
                    services.map(service => {
                        const { data } = service;
                        const { title, description, icon, projects } = data;

                        return (
                            <li>
                                <a href="#"  class="block px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-600 
                                dark:hover:text-white border-b transition-colors duration-200">
                                    { title }
                                </a>
                            </li>
                        )
                    })
                }
            </ul>
        </nav>
    </section>
</Layout>