<div  
    class="block p-6 bg-white border w-full mt-10
        border-gray-200 rounded-lg shadow-sm 
        dark:bg-slate-700 dark:border-slate-600 dark:hover:bg-sleate-600"
    >
    <slot />
</div>