<div  
    class="block p-6 bg-white border w-full mt-10
        border-gray-200 rounded-4xl
        dark:bg-slate-700 dark:border-slate-600
        shadow-xl/20
        bg-[radial-gradient(circle_at_center,#f8fafc,#0f172)]
         dark:bg-[radial-gradient(circle_at_center,#476a9b,#314158)]
         "
>
    <slot />
</div>


