
  <!-- Contenedor del badge -->
  <div class="relative group w-44 h-44">
    <!-- Círculo / arco -->
      <svg 
        viewBox="0 0 100 100" 
        class="-rotate-90 w-full h-full transform transition-transform duration-500 group-hover:rotate-90"
      >
        <!-- arco principal (ajusta dasharray/dashoffset para el tamaño y la “brecha”) -->
        <circle cx="50" cy="50" r="45"
                class="fill-none 
                  stroke-amber-50 
                  transition-colors duration-500
                  group-hover:stroke-sky-300
                  [stroke-dasharray:260_40] 
                  [stroke-dashoffset:50]"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="round" 
                />
                
        <!-- puntito (colocado sobre la circunferencia) -->
        <circle cx="50" cy="5" r="2.3" 
          class="fill-white transition-colors duration-500
                  group-hover:stroke-sky-300" 
        />
      </svg>

    <!-- Texto centrado -->
    <div class="absolute inset-0 grid place-items-center text-center">
      <slot />
    </div>
  </div>
