<header class="flex justify-between items-center">
    <img src="" alt="Logo TREX">

    <nav>
        <a href="/">Inicio</a>
        <a href="/nuestra-empresa">Nuestra empresa</a>
        <a href="/servicios-proyectos">Servicios y proyectos</a>
    </nav>
</header>