---
import Button from "./Button.astro";
import Trex from "./icons/Trex.astro";
---

<header class="fixed top-0 w-full z-10 flex justify-between items-center px-15 py-4 text-[#304d6d]">
    <Trex class=""/>
    <nav class="flex flex-row gap-x-20 opacity-80 items-center">
        <a href="/trex-project">Inicio</a>
        <a href="/trex-project/nuestra-empresa">Nuestra empresa</a>
        <a href="/trex-project/servicios-proyectos">Servicios y proyectos</a>
        <a href="/trex-project/contacto" class="flex items-center">
            <Button>
                Contacto
            </Button>
        </a>
    </nav>
</header>

<style>
    header {
        background: transparent;
        animation: header-scroll 0.3s linear both;
        animation-timeline: scroll();
        animation-range: 0, 200px;
        border-bottom: 1px solid transparent;
    }

    @keyframes header-scroll {
        0% {
            backdrop-filter: blur(0px);
            background: transparent;
        }

        100% {
            color: #ffffff;
            backdrop-filter: blur(10px);
            background: rgba(0, 0, 0, .5);
            border-bottom-color: black;
        }
    }
</style>