---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Asesorias Informáticas TREX">
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute top-0 z-[-2] 
			h-screen w-screen 
			bg-white 
			bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
		>			
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light;
	},
	html {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	},
	body {
		color: #141823;
		display: flex;
		justify-content: center;
		min-height: 100vh;
	}
</style>
